<!DOCTYPE html>
<html>
  <head>
    <title>Genres & Movies</title>
    <style>
      .genre { margin-bottom: 1rem; padding: 0.5rem; border: 1px solid #ccc; }
    </style>
  </head>
  <body>
    <form action="/genres/add/" method="POST">
      <input type="text" name="genreVal" placeholder="enter the genre">
      <button type="submit">Add Genre</button>
    </form>
    <form action="/movies/add/" method="POST">
      <input type="text" name="movieVal" placeholder="enter the new movie">
      <select name="gid" required>
        <% genres.forEach((genre) => { %>
          <option value="<%= genre.gid %>"><%= genre.gname %></option>
        <% }); %>
      </select>
      <button type="submit">Add movie</button>
    </form>
    <h1><a href='/genres/browse'><button>Browse By Genre</button></a></h1>
    <h2>Genres (<%= totalNoOfGenres %>)</h2>
    <% genres.slice(0, 3).forEach((genre) => { %>
        <p><strong><%= genre.gname %></strong></p>
    <% }); %>

    <% if (genres.length > 3) { %>
      <a href="/genres/all"><button>Show all genres...</button></a>
    <% } %>

    <h2>Movies</h2>
      <% movies.slice(0,3).forEach(movie => { %>
        <p><%= movie.mname %> </p>
      <% }); %>
          <% if (movies.length > 3) { %>
      <a href="/movies/all"><button>Show all movies...</button></a>
      <% } %>

  </body>
</html>

